.wrap{
    width: 640px;
    padding: 20px 0px;
    margin: 0 auto;
}
.item{
    margin-bottom: 24px;
}
.dFlex{
    display: flex;
}
.dFlexCC{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    width: 288px;
    padding: 0 20px;
}
.title{
    font-size: $font-l;
    line-height: $font-lineheight-l;
}
.texxt{
    font-size: $font-s;
    line-height: $font-lineheight-s;
}
footer{
    height: 120px;
    background: $bg-color;
    text-align: center;
}

